<p> 
  To learn more about Conditional App Blocks, visit the development <a rel="nofollow" href="https://shopify.dev/changelog/theme-app-extensions-now-support-conditional-app-blocks"> changelog </a>
</p>
{% schema %}
  {
    "name": "Conditional App Block",
    "target": "section",
    "available_if": "{{ app.metafields.sample_app.feature1 }}",
    "settings": []
  }
{% endschema %}

